@font-face {
    font-family: Middleearth;
    src: url(/css/fonts/Middleearth-ao6m.ttf);
}

@font-face {
    font-family: Ringbearer;
    src: url(/css/fonts/RingbearerMedium-51mgZ.ttf);
}

.ringbearer {
    font-family: Ringbearer;
}

.middleearth {
    font-family: Middleearth;
}



.title {
    font-size: 3rem;
    color: rgb(251, 223, 122);
    text-align: center;
}

.mainContainer {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    margin-left: 350px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.functionContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0.5rem; 
}

.quoteSubmit, .updateContainer, .removeContainer {
    width: 20%;
    height: 10rem;
    padding: 1rem;
    border: 1px solid rgb(251, 223, 122);
}

.quoteSubmit {
    background-color: rgb(29, 29, 31);
}
.updateContainer, .removeContainer {
    background-color: rgb(29, 29, 31);
    width: 25%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

.removeContainer {
    width: 33%;
}

.quotesContainer h2 {
    font-size: 2rem;
    font-family: Middleearth;
    margin-left: 50rem;
    color: rgb(251, 223, 122);
}

.quote {
    font-size: 2rem;
    font-family: Middleearth;
    color: rgb(251, 223, 122);
    list-style: none;
}

.quoteQuote {
    font-size: 1.5rem;
    color: white;
}

.updateContainer h2, .updateContainer p, .removeContainer h2, .removeContainer p {
    font-family: MiddleEarth;
    color: rgb(251, 223, 122);
}

.removeContainer h2 {
    font-size: 1.1rem;
}

.removeContainer p {
    font-size: 0.8rem;
}

.quoteSubmit h2 {
    color: rgb(251, 223, 122);
}

.nameInput, .quoteInput {
    border-radius: 25px;
}

.submitBtn {
    margin-top: 1rem;
    height: 2rem;
    width: 5rem;
    border-radius: 20px;
}
